@import '../../scssVariable.scss';

.header {
  background: $mainBGColor;
  color: $neutralColor;
  height: 8rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1000;
}

.heading-title {
  display: inline;
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: 4rem;
}

.cv-icon {
  font-size: 3.5rem;
  margin-left: 1rem;
  color: $accentColor;
  padding-bottom: 0.3rem;
}

.preview {
  z-index: 1000;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  height: 3.5rem;
  padding: 0 1rem;
  background: $neutralColor;
  border-radius: 0.5rem;
  border: 1px solid grey;
  &:hover {
    opacity: 0.5;
  }
}

.eye-icon {
  font-size: 2rem;
}

.show-bottom-border {
  border-bottom: 2rem $accentColor solid;
}
