@import '../../scssVariable.scss';

.header {
  background: $accentColor;
  color: $neutralColor;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1000;
}

.title-icon-container {
  padding: 1rem 0;
}

.heading-title {
  display: inline;
  font-family: $secondaryFont;
  font-weight: 400;
  font-size: 4rem;
}

.cv-icon {
  font-size: 3.5rem;
  margin-left: 1rem;
  color: $mainBGColor;
  padding-bottom: 0.3rem;
}

.header-buttons {
  width: 100%;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  background: $mainBGColor;
  span {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      opacity: 0.6;
      transform: scale(1.1);
    }
  }
}

.buttons {
  font-size: 3rem;
  display: flex;
  bottom: -10rem;
  right: 3rem;
  color: $accentColor;
  span {
    margin: 0.5rem;
  }
  .print-button {
    left: -1rem;
  }
}

.eye-icon {
  font-size: 2rem;
}

.show-bottom-border {
  border-bottom: 2rem $accentColor solid;
}
