@import '../../scssVariable.scss';

.display-none {
  display: none;
}

.button-container {
  width: 100%;
  border: solid;
}

.profile-photo {
  width: 40%;
  max-width: 150px;
  border-radius: 5px;
}

.general-info {
  margin-top: 5rem !important;
}

@media (min-width: 750px) {
  .general-info {
    margin-top: 8rem !important;
  }
}
