@import '../../../scssVariable.scss';

.education-segment {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 2rem 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.school {
  color: rgb(0, 102, 85);
}
