@import './scssVariable.scss';

body {
  font-family: $mainFont;
  font-weight: 400;
  background: rgb(78, 78, 78);
  padding-top: 8rem;
}

input,
button,
textarea {
  &:focus {
    outline: none;
    box-shadow: 0 0 0px 3px $accentColor;
  }
}
input,
textarea {
  font-size: 1.5rem;
  font-family: $mainFont;
}

input {
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
  max-width: 600px;
}

.line {
  margin: 2rem;
  border: 1px $accentColor solid;
  opacity: 0.5;
}

.input-full-width {
  width: 100%;
  margin: 1rem 0;
}

.text-area {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: $mainFont;
  max-width: 600px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

// go to one row when the screen is smaller
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.section {
  background: $sectionColor;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  text-align: center;
  color: white;
  font-family: $secondaryFont;
  border-radius: 0.2rem;
  padding: 1rem;
  position: relative;
  width: 80%;
  max-width: 700px;
  min-width: 300px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.title {
  font-size: 3rem;
  font-family: $secondaryFont;
  margin-bottom: 1rem;
}

.input-button {
  display: inline-block;
  background: $neutralColor;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.541);
  border-radius: 5px;
  font-size: 1.4rem;
  width: 100%;
  margin: 1rem 0;
  max-width: 600px;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.cv-segment {
  margin: 5rem 4rem;
  i {
    color: $accentColor;
    margin-right: 1rem;
  }
  hr {
    background-color: $accentColor;
    height: 1px;
    border: 0;
    margin-bottom: 2rem;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.green {
  color: rgb(0, 102, 85);
}

// add segment button
.add-button {
  background: none;
  border: none;
  color: $neutralColor;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.7rem;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

// styling on message to display when there are no segments to display
.empty-message {
  font-size: 1.5rem;
  margin-top: 1rem;
  opacity: 0.6;
}

// When printing hide elements with this class
// Hide edges of page so you cant see url and page numbers

@media print {
  .no-print {
    display: none;
  }

  body * {
    visibility: hidden;
    -webkit-print-color-adjust: exact;
  }

  html {
    font-size: 13px;
  }
  p {
    break-inside: avoid;
  }

  .cv-preview-container {
    zoom: 1;
    width: 585px;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;
  }

  .no-break {
    break-inside: avoid;
  }

  .cv-preview-container,
  .cv-preview-container * {
    visibility: visible;
  }

  @page {
    size: A4;
    margin: 2rem 2rem 0 2rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 500px) {
  body {
    padding-top: 10rem;
  }
}
