@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$mainBGColor: #e29578;
$accentColor: #c0f3ee;
$neutralColor: #edf6f9;
$mainFont: 'Cabin', sans-serif;
$secondaryFont: 'Roboto Condensed', sans-serif;
